

<%- include('./partials/shared/head.ejs') -%>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
   <%- include('./partials/shared/nav.ejs') %>
    
    <!-- include slider -->

    <%- include('./partials/home/slider.ejs') %>
    
    <!--Featured Section-->
    <section class="featured-section style-two">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<div class="title-icon"><img src="/images/icons/sec-title-icon-1.png" alt="" /></div>
            	<h2>Welcome To St Lilyanna</h2>
                <div class="title">About Our school</div>
                <!-- <div class="text">We're a childcare centre with an engaging curriculum backed by qualified, experienced and experienced.</div> -->
            </div>
            <!--End Sec Title-->
			<div class="row clearfix">
                <!--Column/ Pull Left-->
                <div class="column pull-left col-md-4 col-sm-6 col-xs-12">
                    <!--Feature Block-->
                    <div class="feature-block">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book-fill" viewBox="0 0 16 16">
                                        <path d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                      </svg>
                                </span>
                            </div>
                            <h3><a href="#">Academic Excellence</a></h3>
                            <div class="text">Academic Excellence is our top priority in St Lilyanna-</div>
                        </div>
                    </div>
                    
                    <!--Feature Block-->
                    <div class="feature-block">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="m8 2.42-.717-.737c-1.13-1.161-3.243-.777-4.01.72-.35.685-.451 1.707.236 3.062C4.16 6.753 5.52 8.32 8 10.042c2.479-1.723 3.839-3.29 4.491-4.577.687-1.355.587-2.377.236-3.061-.767-1.498-2.88-1.882-4.01-.721L8 2.42Zm-.49 8.5c-10.78-7.44-3-13.155.359-10.063.045.041.089.084.132.129.043-.045.087-.088.132-.129 3.36-3.092 11.137 2.624.357 10.063l.235.468a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3.177 3.177 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.235-.468ZM6.013 2.06c-.649-.18-1.483.083-1.85.798-.131.258-.245.689-.08 1.335.063.244.414.198.487-.043.21-.697.627-1.447 1.359-1.692.217-.073.304-.337.084-.398Z"/>
                                      </svg>
                                </span>
                            </div>
                            <h3><a href="#">Co-curricular activities</a></h3>
                            <div class="text">Balance is important in everyday life and hence amazing extra-curricular activities-</div>
                        </div>
                    </div>
                    
                </div>
                <!--Column / Pull Right-->
                <div class="column pull-right col-md-4 col-sm-6 col-xs-12">
                    <!--Feature Block Two-->
                    <div class="feature-block-two">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon flaticon-paint-palette-and">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brush-fill" viewBox="0 0 16 16">
                                        <path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.067 6.067 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.118 8.118 0 0 1-3.078.132 3.659 3.659 0 0 1-.562-.135 1.382 1.382 0 0 1-.466-.247.714.714 0 0 1-.204-.288.622.622 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896.126.007.243.025.348.048.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04z"/>
                                      </svg>
                                </span>
                            </div>
                            <h3><a href="#">Professional Teaching</a></h3>
                            <div class="text">We are group of teachers who really love childrens and enjoy every moment with them</div>
                        </div>
                    </div>
                    
                    <!--Feature Block Two-->
                    <div class="feature-block-two">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon flaticon-graduation">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                                        <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
                                        <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
                                      </svg>
                                </span>
                            </div>
                            <h3><a href="#">Ethics</a></h3>
                            <div class="text">Raising moral and humble children is important to us for they lead tomorrow</div>
                        </div>
                    </div>
                    
                </div>
            
                <div class="image-column col-md-4 col-sm-12 col-xs-12">
                    <figure class="image wow fadeInUp">
                        <img src="/images/fwd/IMG-20230829-WA0056.jpg" alt="" />
                    </figure>
                </div>
                
            </div>
            
        </div>
    </section>
    <!--End Featured Section-->
    
    <!--Join Section-->
    <section class="join-section" style="background-image:url(images/background/pattern-1.png);">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Column-->
            	<div class="column col-md-9 col-sm-12 col-xs-12">
                	<div class="row clearfix">
                    	<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        	<h2>Join us</h2>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        	<div class="text">Nothing is more important than your child's future. We are dedicated to lay a firm foundation for your child for a brighter future.</div>
                        </div>
                    </div>
                </div>
                <!--Column-->
            	<div class="btn-column col-md-3 col-sm-12 col-xs-12">
                	<a href="/contact-us" class="theme-btn btn-style-one">Contact us</a>
                </div>
            </div>
        </div>
    </section>
    <!--End Join Section-->
    
   
    
    <!--Call To Action-->
    <section class="call-to-action" style="background-image:url(images/background/2.jpg);">
    	<div class="auto-container">
        	<div class="row clearfix">
            
            	<!--Content Column-->
            	<!-- <div class="content-column pull-right col-md-8 col-sm-12 col-xs-12">
                	<h3><span>Get Enroll, </span>How to Enroll Your Child <br> to a Class?</h3>
                    <div class="text">We are group of teachers who really love childrens and eaching and playing with our students.enjoy every and playing with our students.</div>
                    <a href="contact.html" class="theme-btn btn-style-one">Contact Now</a>
                </div>-->
                <!--Image Column-->
            	<!-- <div class="image-column pull-left col-md-4 col-sm-12 col-xs-12">
                	<figure class="image wow fadeInUp">
                    	<img src="images/resource/baby.png" alt="" />
                    </figure>
                </div> -->
                 
            </div>
            
            
            
        </div>
    </section>
    <!--End Call To Action-->
    
   <!--more info Section-->
   <section class="ethics-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="title-icon"><img src="/images/icons/sec-title-icon-1.png" alt="" /></div>
            <h2>SCHOOL ETHICS AND ETHOS</h2>
            <div class="title">St. Lilyanna School is well guided by the following codes of conduct:</div>
            <!-- <div class="dark-text">Mottto: "Striving for Excellence".</div> -->
            <div class="text">
                <ul>
                    <li>
                        Christian Values
                    </li>
                    <li>Respect for Self and Others</li>
                    <li>Spirited team work</li>
                </ul>
            </div>
            <!-- <a href="#" class="theme-btn btn-style-one">Read More</a> -->
        </div>
    </div>

     <!--Background Patten-->
     <div class="background-patten">
     </div>

</section>
<!--End more info Section--><!--more info Section-->
   <section class="mission-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="title-icon"><img src="/images/icons/sec-title-icon-1.png" alt="" /></div>
            <h2>OUR MISSION AND VISION</h2>
            <div class="title">Vision</div>
            <!-- <div class="dark-text">Mottto: "Striving for Excellence".</div> -->
            <div class="text">
                Our Vision has always been <span>“to be Dynamic, Inclusive and a Competitive Centre of Excellence in Teaching, Learning, Research and Service to Humanity, also to provide Pupils of great Morale and Productivity in our Nation”</span>
            </div>
            <div class="title">Mission</div>
            <div class="text"> We are also motivated to our Mission which is <span>“To Provide Quality Education and Training Service, Innovation, Creativity and Inculcate Moral Values for Sustainable Individual and Societal Development”</span>.
            </div>

            <!-- <a href="#" class="theme-btn btn-style-one">Read More</a> -->
        </div>
    </div>
</section>
<!--End more info Section-->
    
    <!--Gallery Section-->
    <section class="gallery-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<div class="title-icon"><img src="images/icons/sec-title-icon-1.png" alt="" /></div>
            	<h2>Our Gallery</h2>
                <div class="title">Our Portfolio</div>
                <div class="text">We are group of teachers who really love childrens and enjoy every moment of teaching</div>
            </div>
			
            <div class="row clearfix">
            
                <% galley_preview.forEach(function(photo){ %>
                    <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box"><img src="images/galley/<%=photo.img %> " alt="">
                                <div class="overlay-box">
                                    <div class="content">
                                        <a class="lightbox-image" href="images/galley/<%=photo.img %>" title="Image Title Here" data-fancybox-group="example-gallery"><span class="icon flaticon-plus"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            	<!--Gallery Item-->
                <!-- <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box"><img src="images/gallery/1.jpg" alt="">
                            <div class="overlay-box">
                                <div class="content">
                                    <a class="lightbox-image" href="images/gallery/1.jpg" title="Image Title Here" data-fancybox-group="example-gallery"><span class="icon flaticon-plus"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                
                <!--Gallery Item-->
                <!-- <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box"><img src="images/gallery/2.jpg" alt="">
                            <div class="overlay-box">
                                <div class="content">
                                    <a class="lightbox-image" href="images/gallery/2.jpg" title="Image Title Here" data-fancybox-group="example-gallery"><span class="icon flaticon-plus"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                
                <!--Gallery Item-->
                <!-- <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box"><img src="images/gallery/3.jpg" alt="">
                            <div class="overlay-box">
                                <div class="content">
                                    <a class="lightbox-image" href="images/gallery/3.jpg" title="Image Title Here" data-fancybox-group="example-gallery"><span class="icon flaticon-plus"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                
                <!--Gallery Item-->
                <!-- <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box"><img src="images/gallery/4.jpg" alt="">
                            <div class="overlay-box">
                                <div class="content">
                                    <a class="lightbox-image" href="images/gallery/4.jpg" title="Image Title Here" data-fancybox-group="example-gallery"><span class="icon flaticon-plus"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                
                <!--Gallery Item-->
                <!-- <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box"><img src="images/gallery/5.jpg" alt="">
                            <div class="overlay-box">
                                <div class="content">
                                    <a class="lightbox-image" href="images/gallery/5.jpg" title="Image Title Here" data-fancybox-group="example-gallery"><span class="icon flaticon-plus"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                
                <!--Gallery Item-->
                <!-- <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box"><img src="images/gallery/6.jpg" alt="">
                            <div class="overlay-box">
                                <div class="content">
                                    <a class="lightbox-image" href="images/gallery/6.jpg" title="Image Title Here" data-fancybox-group="example-gallery"><span class="icon flaticon-plus"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
            
            <div class="text-center">
            	<a href="/gallery" class="theme-btn btn-style-one">View All</a>
            </div>
            
        </div>
    </section>
    <!--End Gallery Section-->
    
    
    <!--Blog Section-->
    <section class="blog-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<div class="title-icon"><img src="images/icons/sec-title-icon-1.png" alt="" /></div>
            	<h2>blog & Activities</h2>
                <div class="title">Time Line & Ativities</div>
                <div class="text">We are group of teachers who really love childrens and enjoy every moment of teaching</div>
            </div>
            <div class="row clearfix">
            	<!--Blog Column-->

                <% blogs.forEach(function(blog){ %>
            	<div class="blog-column col-md-6 col-sm-12 col-xs-12">
                	<!--News Style Three-->
                    <div class="news-style-three">
                    	<div class="row clearfix">
                        	<!--Image Column-->
                        	<div class="image-column col-md-4 col-sm-4 col-xs-12">
                            	<div class="image">
                                	<div class="date-box">4<span>Apr</span></div>
                                	<a href="/blog-details/<%= blog.url %>">
                                        <img src="<%= imageUrl %><%= blog.picture %>"
                                    </a>
                                </div>
                            </div>
                            <!--Content Column-->
                            <div class="content-column col-md-8 col-sm-8 col-xs-12">
                            	<div class="content-inner">
                                    <h3><a href="/blog-details/<%= blog.url %>"><%=blog.title %></a></h3>
                                    <ul class="post-meta">
                                        <li><a href="#"><span class="icon fa fa-user"></span><%=blog.author %></a></li>
                                        <li><a href="#"><span class="icon fa fa-commenting-o"></span> 7 Comments</a></li>
                                    </ul>
                                </div>
                                <div class="text"><%=blog.caption %></div>
                            </div>
                        </div>
                    </div>
                
                
                </div> 
                <% }) %>
                <!--Tab Column-->
                <div class="tab-column col-md-6 col-sm-12 col-xs-12">
                    
                    <!--Product Info Tabs-->
                    <div class="product-info-tabs">
                        <!--Product Tabs-->
                        <div class="prod-tabs tabs-box">
                        
                            <!--Tab Btns-->
                            <ul class="tab-btns tab-buttons clearfix">
                                <li data-tab="#education" class="tab-btn active-btn">Education</li>
                                <li data-tab="#activity" class="tab-btn">Actvities</li>
                                <li data-tab="#painting" class="tab-btn">Painting</li>
                                <li data-tab="#games" class="tab-btn">Games</li>
                            </ul>
                            
                                
                        
                        
                    </div>
                    <!--End Product Info Tabs-->
                    
                </div>
            </div>
        </div>
    </section>
    <!--End Blog Section-->
    
    
   

    
  <%- include('partials/shared/footer.ejs') %>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header">
    <span class="icon scroll-top ">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
      </svg>
</span></div>

<%- include('partials/shared/scripts.ejs') -%>