

<%- include('../partials/shared/head.ejs') -%>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
   <%- include('../partials/shared/generalNav.ejs') %>




        <!--Page Title-->
    <section class="page-title" style="background-image:url(/images/background/5.jpg);">
    	<div class="auto-container">
        	<div class="inner-box">
                <h1> <%= seo.header_1 ?? 'Admissions' %> </h1>
                <ul class="bread-crumb">
                	<li><a href="/">Home</a></li>
                    <li>Admissions</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->



      <!--Error Section-->
      <section class="error-section">
    	<div class="auto-container">
        	<!-- Thank you message for contacting us -->
            <h2>ADMISSIONS AND INTAKES
            </h2>

            
            <!-- <div class="text">
                We admit new Pupils in every class except examination classes i.e. Candidate class. Every new Pupil is expected to sit for a written interview test except for beginners in Playgroup and Pre-Primary 1
            </div>
            
            <div class="text">
                Should you wish to enroll your Child into our School in any Level from Pre-School to our Junior Secondary School, you would be required to follow our admission Process.
            </div> -->


            <div class="text">
                <%- seo?.description %>
            </div>


        </div>
    </section>
    <!--End Error Section-->

    


    
  <%- include('../partials/shared/footer.ejs') %>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>

<%- include('../partials/shared/scripts.ejs') -%>