

<%- include('../partials/shared/head.ejs') -%>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
   <%- include('../partials/shared/generalNav.ejs') %>




        <!--Page Title-->
    <section class="page-title" style="background-image:url(/images/background/5.jpg);">
    	<div class="auto-container">
        	<div class="inner-box">
                <h1>blog & Activities</h1>
                <ul class="bread-crumb">
                	<li><a href="/">Home</a></li>
                    <li>blog & Activities</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    
    
	<!--Sidebar Page-->
    <div class="sidebar-page-container cardi">
        <div class="auto-container">
            <div class="row clearfix">
                <% blogs.forEach(function(blog){ %>
                    <a href="/blog-details/<%= blog.url %>"> <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box"><img src="<%= imageUrl %><%= blog.picture %> " alt="">
                                
                            </div>
                            <p class="blog-title"><%= blog.title %></p>
                            <p><%= blog.caption %></p>
                        </div>
                    </div></a>
                    <% }) %>
                
            </div>
        </div>
    </div>
     

    
  <%- include('../partials/shared/footer.ejs') %>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>

<%- include('../partials/shared/scripts.ejs') -%>