

<%- include('../partials/shared/head.ejs') -%>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
   <%- include('../partials/shared/generalNav.ejs') %>




        <!--Page Title-->
    <section class="page-title" style="background-image:url(/images/background/5.jpg);">
    	<div class="auto-container">
        	<div class="inner-box">
                <h1>blog post</h1>
                <ul class="bread-crumb">
                	<li><a href="/">Home</a></li>
                    <li><%=blog.heading %></li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    
    
	<!--Sidebar Page-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
				
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
                	<!--Blog-->
                    <section class="blog-classic">
						
                        <!--News Style Four-->
                        <div class="news-style-four">
                            <div class="inner-box">
                            	<!--Image Column-->
                                <div class="image">
                                    <a href="/post"><img src="<%= IMAGE_URL %>/blog/<%= blog.image %>" alt="" /></a>
                                </div>
                                <!--Content Column-->
                                <div class="content-column">
                                    <div class="inner">
                                        <!-- <div class="post-date">April 08,2017</div> -->
                                        <h3><a href="#"><%=blog.heading %></a></h3>
                                        <ul class="post-meta">
                                        	<li>by <span> Admin </span></li>
                                            <!-- <li><a href="/post/1"><span class="icon fa fa-commenting-o"></span> 7 Comments</a></li>	 -->
                                        </ul>
                                        <div class="text"><%-blog.introduction %></div>
                                        <div class="text"><%-blog.conclusion %></div>
                                        <!-- <a class="read-more" href="/post/1">Read More <span class="icon fa fa-angle-right"></span></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </section>
                    
                    <!-- Styled Pagination -->
                    <!-- <div class="styled-pagination">
                        <ul class="clearfix">
                            <li><a class="prev" href="#"><span class="fa fa-angle-left"></span></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#" class="active">2</a></li>
                            <li><a class="next" href="#"><span class="fa fa-angle-right"></span></a></li>
                        </ul>
                    </div> -->
                    
                </div>
                
                <!--Sidebar-->
                <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar">
						
                        <!--Services Category Widget-->
                        <div class="sidebar-widget category-widget">
                        	<div class="sidebar-title">
                            	<h3>Categories</h3>
                            </div>
                            <ul>
                                <li><a href="#">Blog post <span>(15)</span></a></li>
                                <li><a href="#"> News post<span>(20)</span></a></li>
                               
                            </ul>
                        </div>
                        
                        <!--Services Post Widget-->
                        <div class="sidebar-widget popular-posts">
                        	<div class="sidebar-title">
                            	<h3>Latest Post</h3>
                            </div>
                            <!--Post--> 

                         <% blogs.forEach(function(blog){ %>
                            <article class="post">
                            	<figure class="post-thumb img-circle"><a href="#"><img src="<%= IMAGE_URL %>/blog/<%= blog.image %>" alt=""></a></figure>
                                <div class="text "><a href="/post/<%= blog.url %>"><%=blog.heading %></a></div>
                                <!-- <div class="post-info">Posted by <%=blog.author %></div> -->
                            </article>
                            <% }) %>
                            <!--Post-->
                            <!-- <article class="post">
                            	<figure class="post-thumb img-circle"><a href="#"><img src="images/resource/post-thumb-2.jpg" alt=""></a></figure>
                                <div class="text"><a href="#">Make Learning Fun for Your Kids</a></div>
                                <div class="post-info">Posted by Adam Rose</div>
                            </article> -->
                            <!--Post-->
                            <!-- <article class="post">
                            	<figure class="post-thumb img-circle"><a href="#"><img src="images/resource/post-thumb-3.jpg" alt=""></a></figure>
                                <div class="text"><a href="#">What Do Kids Learn in Preschool?</a></div>
                                <div class="post-info">Posted by Adam Rose</div>
                            </article> -->
                        </div>
                        
                       
                        
                    </aside>
                </div>
                
            </div>
        </div>
    </div>
     

    
  <%- include('../partials/shared/footer.ejs') %>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>

<%- include('../partials/shared/scripts.ejs') -%>