

<%- include('../partials/shared/head.ejs') -%>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
   <%- include('../partials/shared/generalNav.ejs') %>




        <!--Page Title-->
    <section class="page-title" style="background-image:url(/images/background/5.jpg);">
    	<div class="auto-container">
        	<div class="inner-box">
                <h1>blog & Activities</h1>
                <ul class="bread-crumb">
                	<li><a href="/">Home</a></li>
                    <li>blog & Activities</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    
    
	<!--Sidebar Page-->
    <div class="sidebar-page-container cardi">
        <div class="auto-container">
            <div class="row clearfix">
                <% blogs.forEach(function(blog){ %>
                    <div class="blog-column col-md-12 col-sm-12 col-xs-12">
                        <!--News Style Three-->
                        <div class="news-style-three">
                            <div class="row clearfix">
                                <!--Image Column-->
                                <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="image">


                                        
                                        <div class="date-box">    <%= new Date(blog?.createdAt).getDate() %>
                                             <span><%= months[new Date(blog.createdAt).getMonth()] %></span></div>
                                        <a href="/post/<%= blog.url %>">
                                            <img src="<%= IMAGE_URL %>/blog/<%= blog.image %>"
                                        </a>
                                    </div>
                                </div>
                                <!--Content Column-->
                                <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="content-inner">
                                        <h3><a href="/post/<%= blog.url %>"><%=blog.heading %></a></h3>
                                        <ul class="post-meta">
                                            <li><a href="#"><span class="icon fa fa-user"></span> Admin </a></li>
                                            <!-- <li><a href="#"><span class="icon fa fa-commenting-o"></span> 7 Comments</a></li> -->
                                        </ul>
                                    </div>
                                    <div class="text"><%=blog.preview %></div>
                                </div>
                            </div>
                        </div>
                    
                    
                    </div> 
                    <% }) %>
                
            </div>
        </div>
    </div>
     

    
  <%- include('../partials/shared/footer.ejs') %>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>

<%- include('../partials/shared/scripts.ejs') -%>