

<%- include('../partials/shared/head.ejs') %>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
   <%- include('../partials/shared/generalNav.ejs') %>




        <!--Page Title-->
    <section class="page-title" style="background-image:url(/images/background/5.jpg);">
    	<div class="auto-container">
        	<div class="inner-box">
                <h1>Our Portfolio</h1>
                <ul class="bread-crumb">
                	<li><a href="/">Home</a></li>
                    <li>gallery</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    

     <!--Gallery Section-->
     <section class="gallery-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            
            	<!--Gallery Item-->
                <!-- <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="/images/gallery/1.jpg" alt="">
                            <div class="overlay-box">
                                <div class="content">
                                    <a class="lightbox-image" href="/images/gallery/1.jpg" title="Image Title Here" data-fancybox-group="example-gallery">
                                        
                                        <span class="icon">
                                        
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                                          </svg>

                                    </span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

             

               
                
                <% photos?.forEach(function(photo){ %>
                    <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <img src="<%= IMAGE_URL %>/gallery/<%=photo.image %>" alt="">
                                <div class="overlay-box">
                                    <div class="content">
                                        <a class="lightbox-image" href="<%= IMAGE_URL %>/gallery/<%=photo.image %>" title="<%= photo.title %>" data-fancybox-group="example-gallery">
                                            <span class="icon flaticon-plus"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>

                    <!-- <hr> -->
<!--               
                <% all.forEach(function(photo){ %>
                    <div class="gallery-item col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <img src="/images/gallery/<%=photo.img %> " alt="">
                                <div class="overlay-box">
                                    <div class="content">
                                        <a class="lightbox-image" href="/images/gallery/<%=photo.img %>" title="Image Title Here" data-fancybox-group="example-gallery">
                                            <span class="icon flaticon-plus"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %> -->
              
              
               
            
            <!-- Styled Pagination -->
            <!-- <div class="styled-pagination text-center">
                <ul class="clearfix">
                    <li><a class="prev" href="#"><span class="fa fa-angle-left"></span></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#" class="active">2</a></li>
                    <li><a class="next" href="#"><span class="fa fa-angle-right"></span></a></li>
                </ul>
            </div> -->
            
        </div>
    </section>
    <!--End Gallery Section-->

    
  <%- include('../partials/shared/footer.ejs') %>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>

<%- include('../partials/shared/scripts.ejs') -%>